body {
    background-color: #eae0cc;
    margin: 0;
    text-align: center;
    position: relative;
    font-family: 'Raleway', sans-serif;
    color: #58310f;
  }
  
  h1 {
    font-size: 600%;
    margin-top: 0;
    font-family: 'Indie Flower', cursive;
    line-height: 1;
  }
  
  h2 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 200%;
    padding-bottom: 10px;
  }
  
  h3 {
    font-family: 'Nanum Myeongjo', serif;
    color: #58310f;
  }
  
  hr {
    color: #58310f;
    height: 0;
    border-style: none;
    border-top-style: dotted;
    border-width: 8px;
    width: 20%;
    margin: 100px auto;
  }
  
  p {
    line-height: 2;
  }
  
  a {
    color: #eae0cc;
    font-family: 'Nanum Myeongjo', serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  
  a:hover {
    color: #e0ac69;
  }
  
  .top {
    text-align: left;
    padding: 20px;
    padding-top: 300px;
    margin-bottom: 300px;
    margin-left: 50px;
    position: static;
    color: #58310f;
    font-weight: bold;
  }
  
  .tea {
    position: absolute;
    right: 500px;
    top: 250px;
    margin: 0;
    height: 400px;
    width: 25%;
  }
  
  .intro {
    margin: 100px auto 100px auto;
    width: 30%;
    font-size: 18px;
  }
  
  .mid {
    margin: 100px 0;
  }
  
  .skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    font-size: 18px;
  }
  
  .giphy {
    width: 25%;
    margin-right: 30px;
  }
  
  .contact-message {
    width: 40%;
    margin: 40px auto 60px;
  }
  
  .contact-me {
    color: #58310f;
  }

  .SiteLink {
    color: #58310f;
    font-weight: bold;
    font-size: 18px;
  }
  
  .btn {
    background: #eae0cc;
    background-image: -webkit-linear-gradient(top, #eae0cc, #e3c996);
    background-image: -moz-linear-gradient(top, #eae0cc, #e3c996);
    background-image: -ms-linear-gradient(top, #eae0cc, #e3c996);
    background-image: -o-linear-gradient(top, #eae0cc, #e3c996);
    background-image: linear-gradient(to bottom, #eae0cc, #e3c996);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 0 1px 3px #666666;
    -moz-box-shadow: 0 1px 3px #666666;
    box-shadow: 0 1px 3px #666666;
    font-family: 'Nanum Myeongjo', serif;
    color: #58310f;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #eae0cc;
    text-decoration: none;
  }
  
  .bottom {
    margin: 60px 0 0 0;
    color: #eae0cc;
    background-color: #58310f;
    padding: 20px 0 20px;
  }
  
  .cc {
    color: #eae0cc;
    font-size: 0.75rem;
    padding: 20px 0;
  }
